body {

    margin: 0px;
    overflow: hidden;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear {

    clear: both;
}

ol {

    list-style-type: none;
}

.faded {

    opacity: 0.5;
}

.homeButton {

    position: relative;
    float: left;
    cursor: pointer;
}

.homeButtonText {

    color: white;
    position: relative;
    float: left;
    font-size: 3em;
}

.domainText {

    text-align: center;
    background-color: white;
    position: absolute;
    font-size: 5em;
}

.songContainer {

    padding: 2em;
}

.playButton {

    text-align: center;
    cursor: pointer;
    height: 3em;
    float: left;
    margin-right: 2em;
    margin-bottom: .25em;
    width: 6em;
}
   
.playButtonText {

    position: relative;
}

.purchaseButton {
    cursor: pointer;
    float: left;
    width: 8em;
    padding: .5em;
    
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
}

.purchaseLabel {

    float: left;
}

.costLabel {

    float: right;
}

.modalBoxContent { 

    height: 0px;
    width: 0px;
    position: absolute;
}

.modalBoxOverlay {

    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    position: relative;
    width: 100%;
    height: 100%;
}

.modalBoxTitle {
    color: white;
    text-align: center;
    font-size: x-large;
}

.modalBoxContainer {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 5;
}

.modalBoxForm {
    padding: 2em;
    margin-top: 1em;
    background-color: white;

    -moz-border-radius: 1em;
    border-radius: 1em;

    box-shadow: 0 0 .5em rgba(0, 0, 0, 1 );
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, 1 );
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, 1 );
}

.songCloseButton {
    
    position: absolute;
    -moz-border-radius: 2em;
    border-radius: 2em;
    font-size: .75em;
    border: 1px solid white;
    padding: 0em .5em 0em .5em;
    color: white;
    cursor: pointer;
    background-color: transparent;
}

.jPlayerContainer {
}

#jp_container_1 {

    position: absolute;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.jPlayerPlay {

    float: left;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin: .25em;
    color: white;
}

.jPlayerPause {

    float: left;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    margin: .25em;
    color: white;
}

.jPlayerSeekContainer {

    float: left;
    margin: .25em 0em .25em 0em;
}

.jp-seek-bar {

    border: 1px solid black;
}

.jp-play-bar {
    
    background-color: white;
}

.jp-seek-bar, .jp-play-bar {

    height: 100%;
}

.modalSongTextTitle {
    text-align: center;
    font-size: 3em;
    color: white;
    padding: .25em;
}

.modalSongText {
    color: white;
    text-align: center;
}

.modalSongDialogue {

    position: absolute;
}

.purchaseInputFields {

    float: left;
    position: relative;
}

.modalPurchaseView {

    width: 100%;
    height: 100%;
}

.paymentForm {

    color: white;
}

.paymentForm li {

    margin: .5em 0em;
}

.paymentButton {

    margin-top: 3em;
    padding: .5em;
    border-radius: 1em;
    background-color: white;
    border: 2px outset;
    float: left;
    position: relative;
    cursor: pointer;
}

.musicSection {

    padding: 2em 0em 0em 2em;
}
