.songContainer {
    padding-left: 3em;
    padding-right: 3em;
}

.playButton {
    background-color: #15375e;
    text-align: center;
    cursor: pointer;
    height: 3em;
    float: left;
    margin-right: 2em;
    margin-bottom: .25em;
    width: 6em;
}

.playButtonText {
    position: relative;
}

.purchaseButton {
    background-color: #15375e;
    cursor: pointer;
    float: left;
    width: 8em;
    padding: .5em;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
}

.purchaseLabel {
    float: left;
}

.costLabel {
    float: right;
}
