.songContainer {
    padding: 5px
    box-shadow: 0px 0px 10px -3px #2c539e;
    -webkit-box-shadow: 0px 0px 10px -3px #2c539e;
    -moz-box-shadow: 0px 0px 10px -3px #2c539e;

    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=, Color='#2c539e')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color='#2c539e');
}

.playButton {
    background-color: #15375e;
    text-align: center;
    cursor: pointer;
    height: 3em;
    float: left;
    margin-right: 2em;
    margin-bottom: .25em;
    width: 6em;
}

.playButtonText {
    position: relative;
}

.purchaseButton {
    background-color: #15375e;
    cursor: pointer;
    float: left;
    width: 8em;
    padding: .5em;
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    border-radius: 10px;
}

.purchaseLabel {
    float: left;
}

.costLabel {
    float: right;
}
