<div class="modalSong">

    <div class="songCloseButton">x</div>

    <div class="modalSongDialogue">
        <div class="modalSongTextTitle">ElectricSnow.com</div>
        <div class="modalSongText">presents</div>
    </div>
    
    <div class="modalSongDialogue" style="display:none;">
        <div class="modalSongTextTitle">{{songName}}</div>
    </div>
    
    <div class="modalSongDialogue" style="display:none;">
        <div class="modalSongText">Brought to you by</div>
        <div class="modalSongTextTitle">Orland Primary Care Specialist</div>
    </div>

    <div id="jPlayer" class="jPlayer"></div>

        <div id="jp_container_1" class="jp-audio">

            <div class="jPlayerPlay">Play</div>
            <div class="jPlayerPause">Pause</div>

            <div class="jPlayerSeekContainer">
                <div class="jp-seek-bar">
                    <div class="jp-play-bar"></div>
                </div>
            </div>

            <div class="clear"></div>

            <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
        </div>
    </div>
</div>
