<div class="songContainer">

    <div class="songTopPanel">

        <div data-index="{{index}}" class="playButton">
            <div class="playButtonText">Play</div>
        </div>
    
        <div class="purchaseButton">
            <div class="purchaseLabel">Purchase</div>
            <div class="costLabel">.99</div>
            <div style="clear:both;"></div>
        </div>    
            
        <div style="clear:both;"></div>

    </div>

    <div class="songName">{{name}}</div>
</div>
