<div class="modalSong" data-js="container">

    <div class="closeButton" data-js="closeButton">x</div>

    <div class="modalSongDialogue" data-js="textContent">
        <div class="modalSongTextTitle">ElectricSnow.com</div>
        <div class="modalSongText">presents</div>
    </div>
    
    <div class="modalSongDialogue" data-js="textContent">
        <div class="modalSongTextTitle">{{songName}}</div>
    </div>
    
    <div class="modalSongDialogue snow" data-js="textContent">
        <div class="modalSongText">Brought to you by</div>
        <div class="modalSongTextTitle">Orland Primary Care Specialist</div>
    </div>

    <div class="modalSongDialogue" data-js="textContent">
        <div class="modalSongTextTitle faded">ElectricSnow.com</div>
    </div>

    <div id="jPlayer" class="jPlayer" data-js="jPlayer"></div>

        <div id="jp_container_1" class="jp-audio" data-js="jPlayerControlContainer">

            <div class="jPlayerPlay" data-js="playButton">&gt;</div>
            <div class="jPlayerPause" data-js="pauseButton">||</div>

            <div class="jPlayerSeekContainer clearfix" data-js="seekContainer">
                <div class="jp-seek-bar" data-js="seekBar">
                    <div class="jp-play-bar" data-js="playBar"></div>
                </div>
            </div>

            <div class="jp-no-solution">
                <span>Update Required</span>
                To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
            </div>
        </div>
    </div>
</div>
